# python venv
**/venv/**
# config and secrets
.env

# setup py module output
**/*.egg-info

# pycache
**/__pycache__/**

# lib
**/lib/**
**/bdist*/**

# logs
*.log

# db files
*.sqlite3
**/vector_db/**
**/fin_report_db/**
